:root {
  --purplecolor: #3C1642;
  --bluecolor: #086375;
  --lightbluecolor: #1DD3B0;
  --greencolor: #AFFC41;
  --lightgreencolor: #B2FF9E; 
  --graycolor: #d3d3d3;
}


.homepage-main-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.homepage-panel1{
    /* border: solid black 1px; */
    background-color: var(--bluecolor);
    width: 40%;
    height: 314px;
    overflow: hidden;
    position: relative;
}


/** panel 1 **/
.homepage-effekt1:hover{
  background-color: var(--lightbluecolor);
  transform: translate( -18px, -18px);
  box-shadow: 0 1.9rem 3.8rem rgba(0, 0, 0, 0.3), 0 1.5rem 1.2rem rgba(0, 0, 0, 0.22);
}

.panel1-img {
  height: 357px;
}

.panel1-h1{
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 56px;
  font-weight: 400;
  position: relative;
  top: -339px;
  left: 295px;
  display: inline-block;
  margin: 0px;
  transform: rotate(0deg);
  color: #a10a34;
  text-shadow: -5px -3px black;
}



.panel1-ul{
  display: inline-block;
  position: relative;
  top: -337px;
  left: 336px;
  border: solid 2px black;
  border-radius: 21px;
  padding: 14px;
  width: 310px;
  height: 162px;
  background-color: var(--graycolor);
}

.panel1-li{
  font-family: 'Rubik Dirt', cursive;
  font-size: 25px;
  list-style-type: none;
  padding: 0;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--purplecolor);
  text-shadow: 2px 2px var(--greencolor);
}


/** panel 2 **/

.homepage-panel2 {
  background-color: #f9f9f9;
  position: relative;
  width: 40%;
  height: 314px;
  overflow: hidden;
  /* border-top: solid 2px var(--lightbluecolor); */
  /* border-bottom: solid 10px var(--graycolor); */
  /* border-left: solid 2px var(--lightbluecolor); */
}

.panel2-h1{
  position: absolute;
  display: inline-block;
  top: 20px;
  font-size: 57px;
  left: 50px;
  z-index: 1;
  font-weight: 100;
  font-family: 'Rubik Wet Paint', cursive;
  height: 147px;
  width: 493px;
  overflow-wrap: break-word;
  text-align: center;
  transform: rotate(-10deg);
  color: black;
  text-shadow: 11px 11px var(--lightbluecolor);
}

.panel2-img {
    height: 135%;
    position: relative;
    left: 302px;
}

.Registration-box{
  position: absolute;
  width: 445px;
  top: 8px;
  left: 143px;
  transform: rotate(0deg);
}

  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bluecolor);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    z-index: 2;
  }
  
  .homepage-panel2:hover .overlay2 {
    bottom: 0;
    height: 100%;
  }

  
/** panel3 **/
.homepage-panel3 {
    background-color: #f9f9f9;
    position: relative;
    width: 40%;
    height: 314px;
    overflow: hidden;
    border-top: solid 2px var(--lightbluecolor);
    border-bottom: solid 2px var(--lightbluecolor);
    border-left: solid 2px var(--lightbluecolor);
  }
  
  .panel3-h1{
    position: absolute;
    left: 213px;
    top: 78px;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: 100;
    font-size: 50px;
    transform: rotate(-18deg);
    text-decoration: underline;
    color: var(--bluecolor);
    word-wrap: normal;
  }

  .panel3-img {
    display: inline;
    height: 106%;
    position: relative;
    left: 584px;
  }
  
  .overlay3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bluecolor);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .homepage-panel3:hover .overlay3 {
    width: 100%;
    left: 0;
  }
  
  .panel3-img2 {
    height: 171%;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    left: 761px;
    top: 235px;
  }

  .panel3-h1-2{
    position: absolute;
    left: 213px;
    top: 78px;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: 100;
    font-size: 50px;
    transform: rotate(-18deg);
    text-decoration: underline;
    color: var(--greencolor);
    word-wrap: normal;
  }

/** panel 4 **/

.homepage-panel4 {
    background-color: #f9f9f9;
    position: relative;
    width: 40%;
    height: 314px;
    overflow: hidden;
    border-top: solid 2px var(--lightbluecolor);
    border-bottom: solid 2px var(--lightbluecolor);
    border-right: solid 2px var(--lightbluecolor);
  }
  
  .panel4-img {
    display: inline;
    height: 106%;
    position: relative;
    left: -179px;
  }
  
  .overlay4 {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #fffcf7;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .homepage-panel4:hover .overlay4 {
    width: 100%;
    left: 0;
  }
  
  .panel4-img2 {
    height: 171%;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    left: 0px;
    top: 235px;
  }

  .panel4-img3 {
    height: 106%;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    /* transform: translate(-50%, -50%); */
    position: relative;
    top: -209px;
    left: 257px;
    transform: scaleX(-1);
  }


  /** panel5 **/
.homepage-panel5 {
  background-color: #f9f9f9;
  position: relative;
  width: 40%;
  height: 314px;
  overflow: hidden;
  border-top: solid 2px var(--lightbluecolor);
  border-bottom: solid 2px var(--lightbluecolor);
  border-left: solid 2px var(--lightbluecolor);
}

.panel5-h1{
  position: absolute;
  left: 213px;
  top: 78px;
  font-family: 'Rubik Wet Paint', cursive;
  font-weight: 100;
  font-size: 50px;
  transform: rotate(-18deg);
  text-decoration: underline;
  color: var(--bluecolor);
  word-wrap: normal;
}

.panel5-img {
  display: inline;
  height: 106%;
  position: relative;
  left: 584px;
}

.overlay5 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bluecolor);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.overlay5-div{
  border: solid 1px black;
  height: 100%;
  width: 80%;
  background-color: var(--bluecolor);
}

.homepage-panel5:hover .overlay5 {
  width: 100%;
  left: 0;
}

.panel5-img2 {
  height: 171%;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  transform: translate(-50%, -50%);
  position: relative;
  left: 652px;
  top: -83px;
}

.panel5-h1-2{
  position: absolute;
  left: 213px;
  top: 78px;
  font-family: 'Rubik Wet Paint', cursive;
  font-weight: 100;
  font-size: 50px;
  transform: rotate(-18deg);
  text-decoration: underline;
  color: var(--greencolor);
  word-wrap: normal;
}

/** panel 6 **/

.homepage-panel6 {
  background-color: #f9f9f9;
  position: relative;
  width: 40%;
  height: 314px;
  overflow: hidden;
  border-top: solid 2px var(--lightbluecolor);
  border-bottom: solid 2px var(--lightbluecolor);
  border-right: solid 2px var(--lightbluecolor);
}

.panel6-img {
  display: inline;
  height: 106%;
  position: relative;
  left: -179px;
}

.overlay6 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #fffcf7;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.homepage-panel6:hover .overlay6 {
  width: 100%;
  left: 0;
}

.panel6-img2 {
  height: 171%;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  left: 0px;
  top: 235px;
}