:root {
    --purplecolor: #3C1642;
    --bluecolor: #086375;
    --lightbluecolor: #1DD3B0;
    --greencolor: #AFFC41;
    --lightgreencolor: #B2FF9E; 
    --graycolor: #d3d3d3;
  }

.CaracterPanel-overlay-Pages{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bluecolor);
  border: solid black 5px;
}

.HomePanel-page-button{
  margin: 0 10px;
  padding: 8px 13px;
  border-radius: 16px;
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 19px;
  font-weight: 100;
  background-color: var(--bluecolor);
    color: var(--greencolor);
    border: solid 2px var(--lightbluecolor);
} 

.HomePanel-page-button:hover{
  background-color: var(--lightgreencolor);
  color: black;
  border: solid 2px var(--purplecolor);
}

.CaracterPanel-overlay-Pages-Title{
  font-family: 'Rubik Wet Paint', cursive;
  margin: 0 10px;
  padding: 8px 13px;
  font-size: 32px;
  font-weight: 100;
  color: var(--greencolor);
  text-shadow: 2px 2px black;
}




