:root {
    --purplecolor: #3C1642;
    --bluecolor: #086375;
    --lightbluecolor: #1DD3B0;
    --greencolor: #AFFC41;
    --lightgreencolor: #B2FF9E; 
    --graycolor: #d3d3d3;
  }

.NewsPanel{
    /* border: solid black 1px; */
    background-color: var(--bluecolor);
    width: 40%;
    height: 314px;
    overflow: hidden;
    position: relative;
}

.homepage-effekt1:hover{
  background-color: var(--lightbluecolor);
  transform: translate( -18px, -18px);
  box-shadow: 0 1.9rem 3.8rem rgba(0, 0, 0, 0.3), 0 1.5rem 1.2rem rgba(0, 0, 0, 0.22);
}

.NewsPanel-img {
  height: 357px;
}

.NewsPanel-h1{
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 56px;
  font-weight: 400;
  position: relative;
  top: -339px;
  left: 295px;
  display: inline-block;
  margin: 0px;
  transform: rotate(0deg);
  color: #a10a34;
  text-shadow: -5px -3px black;
}

.NewsPanel-ul{
  display: inline-block;
  position: relative;
  top: -337px;
  left: 336px;
  border: solid 2px black;
  border-radius: 21px;
  padding: 14px;
  width: 310px;
  height: 162px;
  background-color: var(--graycolor);
}

.NewsPanel-li{
  font-family: 'Rubik Dirt', cursive;
  font-size: 25px;
  list-style-type: none;
  padding: 0;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--purplecolor);
  text-shadow: 2px 2px var(--greencolor);
}


/***/
/* Phone */
/***/
@media  (max-width: 550px) { 

  .NewsPanel {
    background-color: var(--bluecolor);
    width: 100%;
    height: 314px;
    overflow: hidden;
}

.NewsPanel-img {
  height: 311px;
  position: relative;
  left: -67px;
  top: 44px;
}

.NewsPanel-h1 {
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 41px;
  font-weight: 400;
  position: relative;
  top: -292px;
  left: 44px;
  display: inline-block;
  margin: 0px;
  transform: rotate(0deg);
  color: #a10a34;
  text-shadow: -5px -3px black;
}

.NewsPanel-ul {
  display: inline-block;
  position: relative;
  top: -296px;
  left: 192px;
  border: solid 2px black;
  border-radius: 21px;
  padding: 14px;
  width: 172px;
  height: 178px;
  background-color: var(--graycolor);
  overflow: hidden;
}

}