:root {
    --purplecolor: #3C1642;
    --bluecolor: #086375;
    --lightbluecolor: #1DD3B0;
    --greencolor: #AFFC41;
    --lightgreencolor: #B2FF9E; 
    --graycolor: #d3d3d3;
  }

nav{
    background-color: var(--graycolor);
}