:root {
    --purplecolor: #3C1642;
    --bluecolor: #086375;
    --lightbluecolor: #1DD3B0;
    --greencolor: #AFFC41;
    --lightgreencolor: #B2FF9E; 
    --graycolor: #d3d3d3;
  }

nav{
  background-color: var(--graycolor);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 32px;
  border-bottom: solid 2px darkgray;
  border-top: solid 2px darkgray;
}

.nav-link{
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-family: 'Rubik Wet Paint', cursive;
  border-left: solid 2px darkgray;
  font-weight: 200;
}

.nav-button{
  text-align: center;
  margin: 0 4px;
  width: 92px;
  border-radius: 10px;
  padding: 6px;
  border: solid 1px darkgray;
}

.nav-input{
  text-align: center;
  margin: 0 4px;
  width: 118px;
  border-radius: 10px;
  padding: 6px;
  border: solid 1px darkgray;
}


.nav-link:hover{
    text-decoration: none;
    color: black;
    border-left: solid 2px var(--bluecolor);
    border-bottom: solid 2px var(--greencolor);
}