:root {
    --purplecolor: #3C1642;
    --bluecolor: #086375;
    --lightbluecolor: #1DD3B0;
    --greencolor: #AFFC41;
    --lightgreencolor: #B2FF9E; 
    --graycolor: #d3d3d3;
  }

  .nav-input{
    border: solid 2px darkgray;
      width: 300px;
      height: 28px;
      border-radius: 20px 0 0 20px;
      padding: 10px;
      background-color: white;
      font-family: 'Rubik Wet Paint', cursive;
      font-weight: 100;
      font-size: 18px;
      color: var(--purplecolor);
  }
  
  .input-submit{
    border: solid 2px darkgray;
    width: 80px;
    height: 52px;
    border-radius: 0 20px 20px 0;
    background-color: white;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: 100;
    font-size: 18px;
    color: var(--purplecolor);
  }