.header-div{
    width: 300px;

}


.header-h1{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 56px;
    padding: 0px;
    margin: 0px;
}

.header-h3{
    font-family: 'Rubik Glitch', cursive;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 34px;
    left: -225px;
    transform: rotate(-25deg);
    font-weight: 100;
    color: lightseagreen;
    text-shadow: 0 0 black;
}

.header-h3-2{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}

