.MainDiv{
    margin-top: 50px;
}

.nameDIV{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
    color: aliceblue;
}

.genderDIV{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
    color: aliceblue;

}

.imageDIV{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
    color: aliceblue;
}

.typeDIV{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
    color: aliceblue;
}

.speciesDIV{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
    color: aliceblue;
}

.statusDIV{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
    color: aliceblue;
}