.MainDiv{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.info-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
    /* width: 550px; */
}

.imageDIV{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
    /* border: solid black 1px; */
    padding: 16px;
    padding-bottom: 64px;
    background-color: var(--graycolor);
    border-radius: 4px;
    position: relative;
    transform: rotate(-8deg);
    left: 90px;
    top: -24px;
}

.basicInfo{
    /* border: solid 2px black; */
    width: 548px;
    height: 316px;
}

.info{
    border: solid 2px black;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    transform: rotate(10deg);
    left: 106px;
    width: 269px;
    height: 328px;
}

.papier{
    position: absolute;
    z-index: -1;
    left: 829px;
    top: 249px;
    transform: rotate(103deg);
}

.nameDIV{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
}

.genderDIV{
    /* font-family: 'Rubik Wet Paint', cursive; */
    font-size: 30px;

}


.typeDIV{
    /* font-family: 'Rubik Wet Paint', cursive; */
    font-size: 30px;
}

.speciesDIV{
    /* font-family: 'Rubik Wet Paint', cursive; */
    font-size: 30px;
}

.statusDIV{
    /* font-family: 'Rubik Wet Paint', cursive; */
    font-size: 30px;
}

.locationDIV{
    /* font-family: 'Rubik Wet Paint', cursive; */
    font-size: 30px;
}

.originDIV{
    /* font-family: 'Rubik Wet Paint', cursive; */
    font-size: 30px;
}



