:root {
    --purplecolor: #3C1642;
    --bluecolor: #086375;
    --lightbluecolor: #1DD3B0;
    --greencolor: #AFFC41;
    --lightgreencolor: #B2FF9E; 
    --graycolor: #d3d3d3;
  }


.MainDiv{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imageDIV{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
    /* border: solid black 1px; */
    padding: 16px;
    padding-bottom: 64px;
    background-color: var(--graycolor);
    border-radius: 4px;
    position: relative;
    transform: rotate(-8deg);
    left: -196px;
    top: 69px;
    z-index: 8;
}

.caracter-img{
    border: solid black 1px;
}

.infocard{
    position: relative;
    top: -323px;
    left: 146px;
    z-index: 9;
}

.papier{
    width: 708px;
    z-index: -1;
    
    transform: rotate(103deg);
}


.info{
    width: 418px;
    height: 495px;
    text-align: start;
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 29px;
    left: 159px;
    transform: rotate(10deg);
}



.lineflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    border-bottom: solid 1px darkgray;
}



.infos{
    padding-top: 5px;
    text-align: left;
    font-weight: 900;
    text-decoration: underline;
    font-size: 21px;
}

.answers{
    margin: 0px;
    text-align: center;
    font-weight: 800;
    font-size: 44px;
    font-family: 'Qwitcher Grypen', cursive;
    /* border-bottom: solid black 1px; */
    width: 245px;
    /* border: solid 1px;  */
}


.imageDIV:hover{
    z-index: 11;
    box-shadow: 0 1.9rem 3.8rem var(--greencolor), 0 5.5rem 5.2rem var(--lightbluecolor);
    border: solid black 1px;
}

.infocard:hover{
    z-index: 11;
}