.main-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-div{
    border: solid 1px black;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
}

.card-img{
    border: solid 1px black;
}

.card-name{
    border: solid 1px black;
}

.card-status{
    border: solid 1px black;
}

.card-species{
    border: solid 1px black;
}

.card-gender{
    border: solid 1px black;
}