:root {
    --purplecolor: #3C1642;
    --bluecolor: #086375;
    --lightbluecolor: #1DD3B0;
    --greencolor: #AFFC41;
    --lightgreencolor: #B2FF9E; 
    --graycolor: #d3d3d3;
  }


.main-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 56px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;
    flex-wrap: wrap;
}

.card-div{
    width: 300px;
    height: 350px;
    font-family: 'Rubik Wet Paint', cursive;
    text-decoration: none;
    color: black;
}

.card-img{
    border: solid 2px var(--bluecolor);
    border-radius: 150px;
}

.card-name{
    border: solid 2px var(--bluecolor);
    text-align: center;
    position: relative;
    top: -49px;
    z-index: 1;
    background-color: var(--lightgreencolor);
    margin: 0px;
    border-radius: 50px;
    font-weight: 100;
    padding: 6px;
}

.effect10:hover{
    box-shadow: 0 1.9rem 3.8rem var(--greencolor), 0 5.5rem 5.2rem var(--lightbluecolor);
    animation: effect10-in 500ms forwards;
    border: solid 4px var(--greencolor);
}

@keyframes effect10-in {
  0%   {transform: translate(0, 0);}
  50%   {transform: translate(0, -15px);}
  100%   {transform: translate(0, -15px) rotate(10deg);}
}

@keyframes effekt10-out {
  0%   {transform: translate(0, -15px) rotate(10deg);}
  50%   {transform: translate(0, -15px);}
  100%   {transform: translate(0, 0);}
}

.effect:hover{
    font-family: 'Rubik Glitch', cursive;
    /* color: var(--bluecolor); */
}
