:root {
    --purplecolor: #3C1642;
    --bluecolor: #086375;
    --lightbluecolor: #1DD3B0;
    --greencolor: #AFFC41;
    --lightgreencolor: #B2FF9E; 
    --graycolor: #d3d3d3;
}

.login-form-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    background-color: var(--bluecolor);
    border-radius: 42px;
    border: solid 2px var(--graycolor);
}

.login-SignUp-div{
    width: 416px;
    background-color: var(--lightbluecolor);
    border: solid 2px var(--bluecolor);
    border-bottom: solid 5px var(--bluecolor);
    border-radius: 40px 40px 0 0;
}

.login-input{
    text-align: center;
    margin: 0 4px;
    width: 166px;
    border-radius: 10px;
    height: 26px;
    border: solid 1px darkgray;
    font-size: 18px;
}

.login-input-label{
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    margin-top: 11px;
    font-family: 'Rubik Wet Paint', cursive;
}

.login-form-div-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-form-input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
    background-color: var(--lightgreencolor);
}


.login-SignUp-h1{
    display: flex;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: 200;
    justify-content: center;
    margin: 8px;
}

.login-form-buttons{
    padding: 14px; 
    background-color: var(--lightgreencolor);
    width: 388px;
    border-radius: 0 0 40px 40px;
    display: flex;
    justify-content: center;
}

.login-R-button{
    margin-top: 14px;
    margin-right: 20px;
    width: 90px;
    height: 30px;
    background-color: var(--graycolor);
    border: solid 2px var(--bluecolor);
    border-radius: 10px;
    font-family: 'Rubik Wet Paint', cursive;
}

.login-S-button{
    margin-top: 14px;
    margin-left: 20px;
    width: 90px;
    height: 30px;
    border: solid 2px var(--bluecolor);
    background-color: var(--graycolor);
    border-radius: 10px;
    font-family: 'Rubik Wet Paint', cursive;
}

.login-S-button:hover{
    background-color: var(--lightbluecolor);
}

.login-R-button:hover{
    background-color: darkmagenta;
    color: aliceblue;
}